<div class="container">
	<div>Our Guarantee, Medical, & Shipping

Our Guarantee
We guarantee birth defects on our pup's heart, liver, lung, kidney, bowel, and hips for a full 2 years.  All puppies are born at our home kennel, lovingly raised and very people/kid friendly.

We have no control over what our puppy buyers expose their new puppy to or feed them. We WILL NOT PAY any puppy/dog or veterinarian expenses incurred. If you have veterinarian bills, diagnostic testing and/or surgery on your puppy, that is FULLY your choice and responsibility. Our guarantee is to the original owner/buyer of our pups. Should you sell or sign over ownership of the puppy, all guarantees are void.  

If one of the above birth defects should arise with your puppy, we kindly ask that you send us your vet records/diagnosis & we will give you another puppy. There will be NO refunds. We understand that it is impossible to "replace" the puppy you loved, but know that each puppy can bring a new happiness to your home. Our purpose is to provide great loving people with quality, kind Airedale pets.


Puppy Information: 

All pups tails are docked, dew claws removed, and vaccinations are started.

Puppies are WorldATR or AKC registered, or both.

Health certificate, immunization record, and pedigree will accompany a dog that flies.

By rules of the airlines, airflights must be scheduled by us. Pups must be 8 weeks old to fly.


Canine Recommended Vaccination Schedule: 
This is the vaccination schedule suggested by our Professional Veterinarian.​
Please consult with your local vet for further advice and assistance! 

6 weeks~ 1st Puppy Shot Distemper, Parvo, Parainfluenza, Corona, Adenovirus
                Wormer (varies with your area needs)
9 weeks~ 2nd Puppy Shot (Same as above.) 
12 weeks~ 3rd Puppy Shot (Same as above) 
12-16 weeks~ Rabies
Boosters needed in 1 year~ Consult with your vet for local needs.
Rabies ~ Consult with your Vet. 



Shipping:
We want your puppy to get to you safely. Local pickup is always welcome (& free.) 
We ship from Boise, Idaho all year round. The puppy must be 8 weeks old.
The flight costs are approximately $300 - $450, which includes crate and vet check/flight certificate.

How it works:
We, the sender, must arrange the flight plans. Booking in advance depends on each airline, and we will search for the best deal for you. Prices will vary with airlines and gas prices. When we know the puppy has left the airport, we will notify you that he/she is on their way.
Should a delay or early arrival occur, the airlines will call you, not us, thus it is vital we have your cell phone number(s). Full payment is expected before the puppy can leave.
If flying, your puppy will arrive in a crate with its health certificate, immunization record, and puppy food taped to the top. It is recommended that you bring with you a leash to pick your puppy up.  He/she will be ready to get out for a bit.   With new surroundings, it is safer to keep a leash attached.</div>
</div>