<div class="container registrationcontainer justify-content-center">
	<div class="row justify-content-center">
		<div class="registrationdesign text-center">
			<h1 class="marginbottom">Registration</h1>
			<h4 class="marginbottom">
				Attention!  AKC does not register the Black or Red Airedales.  They will be registered with WorldATR.  Black and tan puppies born from a black or red parent will not be registered AKC, but will be registered with WorldATR.  If this is important to you, make sure you let us know so we can reserve you a puppy from an AKC litter.  ALL our Airedales are purebred, regardless of color!
			</h4>
			<h3 class="marginbottom">
				We register with two registries:<br/>
				WorldATR ~ World Airedale Terrier Registry<br/>
				AKC ~ American Kennel Club<br/>
			</h3>
		</div>
			<div class="registrationdesign text-center">
				<h1 class="marginbottom">Limited vs. Unlimited Registrations</h1>
				<h3 class="marginbottom">
					Limited Registration means your dog is registered, but offspring cannot be registered.<br/>
					Unlimited Registration means your dog is registered, and any offspring may also be registered as long as the other adult dog is registered as well.<br/>
					Every breeder has the right and responsibility to determine to whom will have breeding rights (unlimited registration).  Puppy buyers interested in purchasing unlimited breeding rights should visit with the breeder before purchasing.  This gives the breeder the ability to protect the integrity and characteristics of the Airedale breed and specific pedigree bloodlines.<br/>
					All breeders big, small, one time or ten times have the responsibilities of caring for the integrity and traits of the Airedale breed.  The original purpose for which the breed was developed is in the hands of those who continue to produce offspring.<br/>
					Should you purchase the unlimited breeding rights, please be understanding, respectful and careful to preserve the breed traits we all love so much in the Airedale Terrier breed.<br/>
					Should you purchase the unlimited breeding rights, please be understanding, respectful and careful to preserve the breed traits we all love so much in the Airedale Terrier breed.<br/>
				</h3>
			</div>
			<div class="registrationdesign text-center">
				<h1 class="marginbottom">What this means to you</h1>
				<h3 class="marginbottom">
					You will receive a WorldATR registration form in the mail.  The form will be marked Limited Registration unless other arrangements have been made between you and the breeder.  You fill out your section of the form and mail along with a check to the address on the form.<br/>
					In the case that both sire and dam are AKC registered, the pups may be registered with AKC as well.<br/>
					www.WorldATR<br/>
					www.AKC.org<br/>
				</h3>
			</div>
			<div class="registrationdesign text-center">
				<h1 class="marginbottom">How & Why we are involved with WorldATR</h1>
				<h3>
					We started breeding Airedales around 2001.  We wanted to keep a small kennel of pets and hunting dogs in the standard black & tan, black, and red airedales.  As people continued to call wanting all three colors, we bred our dogs to continue their great bloodlines and characteristics.  We have met some amazing people across the country, who are using the pups we produced for many purposes.<br/>
					As we expanded and became better aquainted with other Airedale breeders, we noticed a common complaint with certain registries.  Soon several breeders were talking to us about starting an exclusive registry for the Airedale Terriers.  We were reluctant to do this because of the lifetime commitment it would require and the credibility it may take from both the registry and our kennel.<br/>  
					One registry we were using became unreliable.  It took up to six months to get registration papers back.  Other breeders complained that they had clients who had been waiting 18 months for papers and were not sure they would ever get them.   After pondering and being encouraged by other breeders for about a year, we decided to start World Airedale Terrier Registry.  We have committed to operate this registry with utmost integrity.  These are two separate entities and will be run as such.<br/>
				</h3>
			</div>
	</div>
</div>