// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.homemomstext {
	width: 50%;
}

.momsimage {
	width: 50%;
	height: 90%;
	border-radius: 7px;

	img {
		width: 100%;
		height: 100%;
		border-radius: 7px;
	}
}

.previouspups {
	img {
		height: 335px;
		width: 248px;
		border-radius: 7px;
	}
}