// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pagesForm {
	margin-bottom: 10px;
}

.formcontainer {
	margin-bottom: 25px;
	margin-top: 25px;
}

.formmargintop {
	margin-top: 10px;
}

.marginbottom {
	margin-bottom: 10px;
}

.buyerinfomassage {
	width: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 7px;
}

.buyerformdesign {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 7px;
}

.buyercontainerdesign {
	background-color: skyblue;
	border-radius: 7px;
}

.registrationdesign {
	width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 7px;
}

.registrationcontainer {
	margin-bottom: 25px;
	margin-top: 25px;
	background-color: skyblue;
	border-radius: 7px;
}